<div id="<%= dom_id first_word %>" class="bg-gray-100 p-4 my-4 rounded-md">
  <p>
    <%= first_word.word %>
  </p>

  <p class="text-gray-500 text-sm">
    <%= first_word.language %>
  </p>

  <p class="text-gray-500 text-sm bg-gray-200 p-2 rounded-xl">
    <%= first_word.firstCharacter %>
  </p>

</div>
