<div id="<%= dom_id first_word %>" class="bg-gray-100 p-4 my-4 rounded-md">
  <p>
    <strong>Word:</strong>
    <%= first_word.word %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= first_word.language %>
  </p>

  <p>
    <strong>Firstcharacter:</strong>
    <%= first_word.firstCharacter %>
  </p>

</div>
